<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://dubbo.apache.org/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
       http://dubbo.apache.org/schema/dubbo
       http://dubbo.apache.org/schema/dubbo/dubbo.xsd">

    <bean id="notifyService" class="com.boot.dubbo.event.NotifyServiceImpl"></bean>
    <bean id="multiParameterNotifyService" class="com.boot.dubbo.event.MultiParameterNotifyServiceImpl"></bean>

    <dubbo:reference id="eventService" interface="com.boot.dubbo.event.EventService">
        <dubbo:method name="get"
                      async="true"
                      onreturn = "notifyService.onReturn"
                      onthrow="notifyService.onThrow"
                      oninvoke="notifyService.onInvoke"/>

        <dubbo:method name="getByMultiParameter"
                      async="true"
                      onreturn = "multiParameterNotifyService.onReturn"
                      onthrow="multiParameterNotifyService.onThrow"
                      oninvoke="multiParameterNotifyService.onInvoke"/>
    </dubbo:reference>
</beans>